body {
    margin: 20px auto;
    width: 500px;
    text-align: center;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

@font-face{
  font-family: "cursedTimer";
  src: url("/fonts/CursedTimerUlil-Aznm.ttf") format("truetype");
}

button {
    width: 45px;
    height: 45px;
    background-color: #1B244A;
    color: #9AABD8;
    border-radius: 5px;
    border: 2px solid #9AABD8;
    margin: 25px 2px;
    font-family: cursedTimer;
    font-size: 18px;
    cursor: pointer;
}

#home-score {
    width: 155px;
    height: 120px;
    border-radius: 5px;
    background-color: #080001;
    margin-top: 0px;
    margin-bottom: 50px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: #F94F6D;
}

#guest-score {
    width: 155px;
    height: 120px;
    border-radius: 5px;
    background-color: #080001;
    margin-top: 0px;
    margin-bottom: 50px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: #F94F6D;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    color: #EEEEEE;
    margin: none;
    text-align: center;
    height: 20px;
}

h2 {
    background: #0a0001;
    font-family: cursedTimer;
    font-size: 90px;
    color: #F94F6D;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}